<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div>
        <a href="https://www.supium.com"><img src="http://www.supium.com/static/media/logo.76cf82a423173d7880e0.png"
                alt="logo" class="center"></a>

    </div>

    <h1>SupiumLtd.</h1>
    <p class="center">is an innovative online advertising platform that brings
        advertisers and users together. We are dedicated to
        helping your business reach its target audience effectively
        and efficiently.</p>

    <h2>Why Advertise with Us</h2>
    <h3 class="center">Increase Brand Visibility</h3>
    <p class="center">Reach millions of potential customers through our cutting-edge Search Engine technology. Your
        brand will be showcased to a wide and diverse audience, driving maximum visibility.</p>

    <h3 class="center">Targeted Advertising</h3>
    <p class="center">Our platform allows you to precisely target your ads based on demographics, interests, and user
        behavior. This ensures that your message reaches the right people, leading to a higher conversion rate.</p>

    <h3 class="center">Cost-Effective Solutions</h3>
    <p class="center">We understand the importance of affordability for businesses. That's why we offer flexible pricing
        options to suit your budget, ensuring you get the most value for your advertising investment.</p>

    <h3 class="center">Social Impact</h3>
    <p class="center">By advertising with us, you contribute to a greater cause. Our platform helps users in need from
        poor countries earn funds for crucial medical treatments, procedures, and operations.</p>
    <div>

        <table border="3">
            <tr style="background-color:orange; color:black; text-align: center;">
                <td colspan="12">Price List</td>
            </tr>
            <tr style="background-color:rgb(111, 158, 234); color:black; text-align: center;">

                <td colspan="2">Petit</td>
                <td colspan="2">XS</td>
                <td colspan="2">S</td>
                <td colspan="2">M</td>
                <td colspan="2">L</td>
                <td colspan="2">XL</td>
            </tr>
            <tr style="background-color:orange; color:black; text-align: center;">
                <td>Clicks</td>
                <td>Price</td>
                <td>Clicks</td>
                <td>Price</td>
                <td>Clicks</td>
                <td>Price</td>
                <td>Clicks</td>
                <td>Price</td>
                <td>Clicks</td>
                <td>Price</td>
                <td>Clicks</td>
                <td>Price</td>
            </tr>
            <tr>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">500</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$1.5</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">500</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$3</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">500</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$6</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">500</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$12</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">500</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$18</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">500</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$30</td>
            </tr>
            <tr>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">1000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$3</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">1000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$6</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">1000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$12</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">1000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$24</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">1000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$36</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">1000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$60</td>
            </tr>
            <tr>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">5000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$15</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">5000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$30</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">5000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$60</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">5000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$120</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">5000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$180</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">5000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$300</td>
            </tr>
            <tr>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">10000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$30</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">10000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$60</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">10000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$120</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">10000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$240</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">10000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$360</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">10000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$600</td>
            </tr>
            <tr>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">50000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$150</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">50000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$300</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">50000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$600</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">50000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$1200</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;" 50000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$1800</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">50000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$3000</td>
            </tr>
            <tr>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">100000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$300</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">100000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$600</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">100000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$1200</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">100000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$2400</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">100000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$3600</td>
                <td style="background-color:rgb(111, 158, 234); color:black; text-align: center;">100000</td>
                <td style="background-color:rgb(200, 206, 216); color:black; text-align: center;">$6000</td>
            </tr>
            <tr style="background-color:orange; color:black; text-align: center;">

                <td colspan="2">
                    <div class="top-text">$0.0025</div>
                    <div class="bottom-text">/per click</div>
                </td>
                <td colspan="2">
                    <div class="top-text">$0.005</div>
                    <div class="bottom-text">/per click</div>
                </td>
                <td colspan="2">
                    <div class="top-text">$0.01</div>
                    <div class="bottom-text">/per click</div>
                </td>
                <td colspan="2">
                    <div class="top-text">$0.02</div>
                    <div class="bottom-text">/per click</div>
                </td>
                <td colspan="2">
                    <div class="top-text">$0.03</div>
                    <div class="bottom-text">/per click</div>
                </td>
                <td colspan="2">
                    <div class="top-text">$0.05</div>
                    <div class="bottom-text">/per click</div>
                </td>

            </tr>
        </table>

    </div>
</body>

</html>